<!doctype html>
<html>
    <head>
        {% block head %}
            <title>Outcade</title>
            <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}" type="text/css" />
            <link rel="shortcut icon" href="{{url_for('static', filename='img/favicon.png')}}"/>
        {% endblock %}
    </head>
    <body>
        <header class="frame">
            <span class="title">
                <a href="{{url_for('splash')}}">Outcade</a>
            </span>
            <span class="user_links">
                {% if request.user %}
                    Welcome {{ request.user.name }}!

                    {% if request.user.is_admin %}
                        <a target="_blank" href="{{ url_for('sync_cascade') }}">Sync Cascade</a>
                        <a target="_blank" href="{{ url_for('sync_exchange') }}">Sync Exchange</a>
                        <a target="_blank" href="{{ url_for('admin.index') }}">Admin</a>
                    {% endif %}

                    <a href="{{url_for('logout')}}">Logout</a>
                {% else %}
                    Welcome!
                {% endif %}
            </span>
        </header>
        <article class="frame">
            {% block body %}
                You probably want to put something here...s
            {% endblock %}
        </article>
    </body>
</html>
