{% extends "base.html" %}
{% import 'admin/lib.html' as lib with context %}


{% block body %}
    {% if updated == True %}
        <div class="updated_tip frame">
            Your details have been updated!
        </div>
    {% endif %}
    <span class="user_form">
        <h1>
            Your Details
        </h1>
        <form action="." method="POST" enctype="multipart/form-data">
            {{ lib.render_form_fields(form) }}
            <button type="submit">
                Update My Details
            </button>
        </form>
    </span>
    <hr/>
    <span class="user_holidays">
        <h1>
            Upcoming holidays
        </h1>
        {% for event in events %}
            {{ event }}
            <br/>
        {% else%}
            <h3>
                No holidays found :(
            </h3>
        {% endfor %}
    </span>
{% endblock %}

{% block footer %}
    TIP: To change your Exchange password just logout then login again with the new password
{% endblock %}
